*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}



body{
  font-family: poppins;

}

nav{
  background: #6D6875;
  height: 80px;
  width: 100%;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
label.logo{
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0 100px;
  font-weight: bold;
}
#dot{
  color: #E5989B;
  font-size: 5rem;
}

nav ul{
  float: right;
  margin-right: 20px;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 1rem;
}
nav ul li a{
  color: #fff;
  font-size: 19px;
}

a.active, a:hover{
  color: #E5989B;
  transition: .5s;
}

.content h1{
  font-style: bold;
  text-shadow: 3px 3px #6d687567;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  text-align: center;
}

.container{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  width: 100%;
  
}
.container .box{
  position: relative;
  width: 40rem;
  padding: 4rem;
  background: linear-gradient( #ffffff  , #E5989B);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0,1);
  border-radius: 2rem;
  margin: 1rem;
  box-sizing: border-box;
}

.btn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background:#6D6875 ;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.1 );
}

.btn:hover{
  background: #E5989B;
  transition: .5s;

}
@media (max-width: 1024px){
  nav {
    justify-content:center;
  }
}


