* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
}

.intro {
  height: 20vh;
  background-image: linear-gradient(#fff, #e5989b 70%);
}
nav {
  background: #6d6875;
  height: 80px;
  width: 100%;
}

label.logo {
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0 100px;
  font-weight: bold;
}
#dot {
  color: #e5989b;
  font-size: 5rem;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 1rem;
}
nav ul li a {
  color: #fff;
  font-size: 19px;
}

a.active, a:hover {
  color: #e5989b;
  transition: 0.5s;
}

.bodycontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  margin:1rem;
}

.bodycontainer div    {
  padding:1rem;
  } 

.column1 {
  flex: 1;
  margin-top:4rem;


}
/*
.product-images {
    height:100rem;
    overflow: hidden;
    overflow-y:scroll;
}*/

.column2 {
  flex: 1;
  margin-top:4rem;
}

.bodycontainer .column1 ul li{
    display:inline-block;
}
.bodycontainer .column1 .images {
  width: 100%;
  margin-bottom:4rem;
  margin-top:4rem;
  border: solid #e5989b 5px;
}

.content{
    width: 100%;
    padding:16rem;
}

.container2 {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom:2rem;
    margin-top:6rem;
}

.container2 div{
}

.bodycontainer .column2 h2{
    text-align: center;
    font-size: 2.2rem;
    
    //margin-top:8rem;
    //margin-bottom:3rem;

    text-decoration: underline #e5989b 5px;
}

#pricing    {
    font-size:2.2rem;
}

.bodycontainer .column2 p{
    font-size: 1.2rem;
}

.bodycontainer .column2 h3{
    font-size: 1.5rem;
    font-weight:bold;
    padding-left:1rem;
    margin-bottom:1rem;
}   

.btn{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: #fff;


    
    padding: 1rem 4rem;
    background-color: #6d6875;
    border-radius: 1rem;
    width:fit-content;
    margin:auto;
    text-align:center;
    margin-top:2rem;
    margin-bottom:1rem;
}

.container3  {
display:flex;
flex-direction:column;
}

.personal-info-container {
display:flex;
flex-direction:row;
justify-content: space-between;
margin:0rem;
}

.personal-info-container label input{
margin:0;
padding-bottom:2rem;
}


.container3 label{
    margin-bottom:0.5rem;
}

.bodycontainer .reviews h3{
 margin-top:2rem;
}


.container3 input{
    padding:1rem;
    border-radius: 0.5rem;
    border-width:1px;
    margin-bottom:2rem;   
     margin-top:1rem;
}
ß
#title {
    padding-bottom:4rem;
}

#review {
    padding-bottom:4rem;
}

#sub    {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    
    padding: 1rem 8rem;
    background-color: #6d6875;
    width:fit-content;
    margin:auto;
    text-align:center;
}

/*rating test
.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}*/


/*
.column2 a:hover {
text-decoration: underline;
transition:0;
 color: black;
}
*/

/*
@media (max-width: 1030px){
    nav ul li a{
      color: #000000;
      font-size: 19px;
    }
  }
  */

