*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}



body{
    font-family: poppins;

}

.intro{
    height: 100vh;
    background-image: linear-gradient( #fff 60% , #E5989B);
}
nav{
    background: #6D6875;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #fff;
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 100px;
    font-weight: bold;
}
#dot{
    color: #E5989B;
    font-size: 5rem;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 1rem;
}
nav ul li a{
    color: #fff;
    font-size: 19px;
}

a.active, a:hover{
    color: #E5989B;
    transition: .5s;
}
.welcome{
    font-size: 5rem;
    box-shadow: #6D6875;
    margin-top: 0;
}
#left{
    width: 50%;
    float:left;
    padding-left: 10%;
    padding-top: 5%;

}
#left h1{
    font-style: bold;
    text-shadow: 3px 3px #6d687567;
    box-sizing: border-box;
    padding-right: 33%;
}
#left p{
    font-size: larger;
    box-sizing: border-box;
    padding-right: 33%;
}
#right{
    display: flex;
    width: 50%;
    float: right;
    margin: 0 auto;
    box-sizing: border-box;
}
#right img{
    margin: 10% 20%;
    height: 470px;
    width: 470px;
    border-radius: 50%;
}
#left .login{
    font-weight: bold;
    text-decoration: underline;
}
#left .btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: box;
    color: #fff;
    background:#6D6875 ;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1 );
    margin-bottom: 2rem;
}

#left .btn:hover{
    background: #E5989B;
    transition: .5s;

}