
* {

font-family: "helvetica";
box-sizing: border-box;
}

header h1{ 
  font-size: 2.5rem;
  color: #5760d3;
  font-family: 'Times New Roman', Times, serif;
  padding-top:4rem;
  font-weight:bold;
  text-align: center;
}

/*Nav Bar*/
nav{
  text-align:center;
  padding-top:1rem;
  padding-bottom:1rem;
}

a:link{
  font-family: "Verdana";
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  padding:2rem;
  font-size: 1.4rem;
}

nav a:hover{
color:rgb(114, 122, 232);
transition:0.25s;
}

a:hover{
  color:#5760d3;
}

a:focus{
  color:#5760d3;
}

a:visited  {
  color: rgb(45, 28, 11);
}


/*elements throughout page*/
h2 {
  font-size: 1.5rem;
  color:#2d1c0b;
}

h3 {
  font-size: 1.3rem;
  color:rgb(45, 28, 11);
}

h4 {
  font-size: 1.25rem;
  color:rgb(45, 28, 11);
}

body {
  background-color:#e3afa6;
  margin: 2rem;
}

@media (max-width: 40rem) {
  p {
    max-width: 90%
  }
  }
  
  p {
    max-width:40rem;
    margin-top: 1rem;
    font-size:1.25rem;
  }

  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
  }
  
  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
  }
  


  /**/

.check-out-Cart a:link{
  color:black;
  font-size: 1rem;
  font-weight: lighter;
}

/*hover state for image links*/
a:hover img{
  opacity: 50%
}

/**/

/*Form*/

form{
  border: 2px solid rgb(65, 65, 65);
  border-radius: 5px;
  overflow: hidden;
  width: 30rem;
  background-color:rgb(255, 255, 255)
}

form button{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  font-size:0.8rem;
  font-weight: bold;
  font-family:arial;
  border-radius:0.4rem;
  border: 0.1rem solid rgb(14, 14,24);
  margin:1rem;
}

form button:hover{
  cursor: pointer;
  color:#2d1c0b;
  background-color:rgb(215, 215, 215);
  }
  
  .Submit-Reset-Buttons form  {
  text-align:center;
  }
  
  .Submit-Reset-option  {
    text-align:center;
    margin-bottom:0.5rem;
  }
  
  .Submit-Reset-option input:hover{
    background-color:rgb(215, 215, 215);
  }
  
  .Submit-Reset-option input{
    margin-top:1.5rem;
    margin:0.5rem;
    padding-left:5rem;
    padding-right:5rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    
  }

 /*Styling for labels and label elements: Reference: https://learn.shayhowe.com/html-css/building-forms/*/


/*Added border around the form*/
 fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

/*This determines the roundness of the text input*/
input{
  border-radius: 0.313rem; /*this is the round-ness of the text-input*/
  margin:0;
}

/*styling for text-input form in combined elements */
.customer-info  {
  padding: 1rem 1rem 1rem 1rem
}

/*text styling for labels*/
.customer-info label{
  color:rgb(30, 64, 165);
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top:1rem;
}

.customer-info h3{
  color:#5760d3;
}

/*input focus state*/
.customer-info input:focus{
background:#f0f0f5;
}

/*input hover state*/
.customer-info input:hover{
  background:#f0f0f5;
  }
  
/*input styling*/
.customer-info input{
  background: #fff;
  padding: 0.375rem;
  margin-top: 0.375rem;
  margin-bottom:0.375rem;
  width: 100%;
}



.payment-options  {
  text-align:center;
  justify-content: space-between;
  margin-bottom:1.5rem;
}

.payment-options h3{
text-align:left;
margin-left:1rem;
color:#5760d3;
}

/*radio button class styling in combined elements*/

.payment-options label{
  margin:1rem;
}


/*radio button is not the styling for the combined elements form but the interactive elements section*/
.Radio-Button form{
  text-align:center;
  padding-bottom:1rem;
}

.Radio-Button h4{
  color:#5760d3;
}

.Radio-Button label{
  margin-bottom:1rem;
  padding:2rem;
}

.Radio-Button h4{
  text-align:left;
  margin-left:1rem;
}


/**/

/*styling for check out cart*/
.check-out-Cart {
  background-color:#eee;
  width:45rem;
  border-radius:0.4rem;
  border: 0.1rem solid rgb(14, 14,24);
  margin-top:1rem;
  justify-content: space-between;
  padding: 1rem;
}

.check-out-Cart .item-1 {
  text-align: right;
}

.check-out-Cart .item-2 {
  text-align: right;
}

.check-out-Cart h3{
  margin-left:1rem;
  color:#5760d3;
}
.check-out-Cart p{
  font-size: 1rem;
  color:#2d1c0b;
}

.check-out-Cart a{
  color:#2d1c0b;
}
/**/

/*styling for the assembling brand parts - fonts*/
.Font h2{
font-family: 'Times New Roman', Times, serif;
font-size:5rem;
color: black;
}


.Font h3{
  font-family: Verdana;
  font-size:5rem;
  color: rgb(14, 14,24);
  }

  .Font h4{
    font-family: Helvetica;
    font-size:5rem;
    color: rgb(14, 14,24);
    }

.colours p{
  display: flex;
  justify-content: space-between;
  text-align: center;
}


/*styling for the combined elements product listing*/

.container{
  display:flex;
  flex-wrap:wrap;
  margin:1rem;
  text-align: center;
}

.block{
  flex-grow: 1;
  flex-basis:25rem;
}

.container .block:nth-of-type(even){
  height:32rem;
}

.container .block:nth-of-type(odd){
  height:32rem;
}


.container .block p{
  margin:1.5rem;
}
.container .block h3{
margin:1.25rem;
}
/**/



/*
to make citations a bit cleaner
*/

.cite {
  font-size: 1rem;
}
.cite a{
  font-size:1rem;
  color:#2d1c0b;
}