*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

body{
  font-family: poppins;
}

.intro{
  height: 20vh;
  position: relative;
  background-image: linear-gradient( #ffffff, #E5989B 70%);
}


/*styling for nav bar*/
nav{
  background: #6D6875;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
label.logo{
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0 100px;
  font-weight: bold;
}
#dot{
  color: #E5989B;
  font-size: 5rem;
}

nav ul{
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 1rem;
}
nav ul li a{
  color: #fff;
  font-size: 19px;
}

a.active, a:hover{
  color: #E5989B;
  transition: .5s;
}

/*end of navigation bar styling */

/* styling the content on the page */

.service-list h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: underline #E5989B;
}
.service-list{
  padding: 3em;
}
.service-list .cart{
  background-color:#fff;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 5px 10px 5px #6d68755c;
  text-align: center;
}
.cart .title{
  font-family: poppins;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline #E5989B;
}
.cart .text{
  font-family: poppins;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 3rem;
}
.cart img{
  border-radius: 1rem;
}
.cart img:hover{
  transition: .5s;
  opacity: 0.7;
}
.details{
  font-size: 1rem;
  color: #fff;
  background-color:#6D6875;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.details:hover{
  background: #E5989B;
  transition: .5s;
}
.service-container{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  width: 100%;
}
.responsive{
  width: 70%;
  height: auto;
}
.service-container .cart{
  position: relative;
  width: 40rem;
  padding: 4rem;
  box-shadow: 0 0.3rem 0.3rem rgb(0, 0, 0, 0.5);
  border-radius: 2rem;
  margin: 1rem;
  box-sizing: border-box;
}
.btn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background:#6D6875;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.1 );
}

.btn:hover{
  background: #E5989B;
  transition: .5s;
  color:white;
}
.btn a{
  text-decoration: none;
}

/*styling footer */

.footer-container{
      background-color:#6d6875;
      padding:2rem;
      height:25vh;
      color:white;
      display:flex;
      justify-content:center;
      flex-wrap:wrap;
}

.footer-container div{
    margin:1rem;
}

.footer-container h4{
    font-size:1.25rem;
    margin-bottom:0.25rem;
}

.footer-container a{
    font-size:0.75rem;
    color:white;
    text-decoration:none;
}

.footer-container a.active, a:hover {
  color: #e5989b;
  transition: 0.5s;
}

#footer-email   {
    width:15rem;
    height:2.5rem;
    border-radius:4px;
    outline:none;
    border:none;
    padding-left:0.5rem;
    font-size:0.9rem;
    margin-right:1.5rem;
}

#footer-email-btn   {
    width:6rem;
    height:2.5rem;
    border-radius:0.75rem;
    background-color:#e5989b;
    outline:none;
    color:#fff;
    font-size:1rem;
}

#footer-email-btn:hover{
    cursor:pointer;
    background-color:rgb(248, 248, 248);
    color:#6d6875;
    transition:all 0.4s ease-out;
}


/*end of styling for footer*/

/*responsiveness for footer content*/
@media(max-width:1024px)    {
.footer-container{

      height:35vh;
     
}
}

@media(max-width:620px)    {
.footer-container{

      height:50vh;
     
}

}


@media(max-width:1024px)    {
.footer-container{

      height:35vh;
     
}
}

/*end of responsiveness for footer content*/

/* responsiveness for nav bar*/
@media(max-width:1024px) {
  nav {
    justify-content: center;
     height: 10rem;
  }
}
/*end of responsiveness for nav bar */