* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
}
/* adding the gradiant colors */
.intro {
  height: 100vh;
  background-image: linear-gradient(#fff 60%, #e5989b);
}
nav {
  background: #6d6875;
  height: 80px;
  width: 100%;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
label.logo {
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0 100px;
  font-weight: bold;
}
#dot {
  color: #e5989b;
  font-size: 5rem;
}

#Logodot {
  color: #e5989b;
  font-size: 5rem;
}

nav ul {
  float: right;
  margin-right: 20px;
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 1rem;
}
nav ul li a {
  color: #fff;
  font-size: 19px;
}

a.active,
a:hover {
  color: #e5989b;
  transition: 0.5s;
}
/* Styling the home page by splitting the content into left and right */

.welcome {
  font-size: 2.5rem;
  padding:0rem;
  margin-top: 0rem;
}


.responsive {
  width: 100%;
  height: auto;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top:2rem;
  align-items:center;
  align-content:center;
}


.container-1 .item-2 {
display: flex;
flex-wrap: wrap;
margin-top:1rem;
margin-bottom:1rem;
justify-content:center;
}


.container-1 .item-3 {
display: flex;
flex-wrap: wrap;
margin-top:1rem;
margin-bottom:1rem;
justify-content:center;
}

.container-1 h1{
    font-size:3.5rem;
    text-decoration: underline #E5989B;
}


.container-1 .btn a    {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color:#6d6875;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.container-1 .btn a:hover    {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #E5989B;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

  /* Adding the pop up page for signing up */
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-50%, -50%);
    width: 27.75rem;
    padding: 20px 30px;
    background: #e5989b;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition:top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms  ;
  }
  .popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  .popup .form h2 {
    text-align: center;
    color: #fff;
    margin: 10px 0px 20px;
    font-size: 25px;
  }
  .popup .form .form-element {
    margin: 15px 0px;
  }
  
  .popup .form .form-element label {
    font-size: 14px;
    color: #222;
  }
  :root {
    --color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --color-interaction: #7b506f;
    --color-interaction-minus-two: rgba(4, 83, 201, 0.12);
    --color-ink-high-contrast: #121212;
  }
  div.input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20rem;
  }
  
  /* Input and borders*/
  
  .input-underlined > input,
  .input-filled > input {
    border: none;
    border-bottom: 0.125rem solid var(--color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
  }
  
  .input-underlined > input:focus,
  .input-filled > input:focus {
    outline: none;
  }
  
  .input-underlined > .input-label,
  .input-filled > .input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 1%;
    color: var(--color-ink-medium-contrast);
    transition: top 0.2s;
  }
  
  /* Changes the color of the box when hovered over */
  .input-underlined > input:hover,
  .input-filled > input:hover {
    background: var(--color-interaction-minus-two);
    border-color: var(--color-ink-high-contrast);
  }
  /* Maked the label animate to the top and when written on it it will stay up*/
  .input-underlined > input:focus + .input-label,
  .input-underlined > input:valid + .input-label,
  .-input-filled > input:focus + .input-label,
  .input-filled > input:valid + .input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
  }
  /* Changing the color of the label when clicked */
  input:focus + .input-label {
    color: var(--color-interaction);
  }
  /* Chaning the color of the underline when clicked */
  .input-underlined > input:focus {
    border-color: var(--color-interaction);
  }
  .popup .form .form-element input[type="checkbox"]{
      margin-right: 5px;
  }
  .popup .form .form-element button{
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      font-size: 20px;
      background: #6d6875;
      color: #ffff;
      border-radius: 10px;
      cursor: pointer;
      transition: .5s;
  }
  .popup .form .form-element button:hover{
      background-color: #ffffff;
      color: #000000;
  }
  .popup .form ,.form-element a{
      text-align: left;
      color: #1a79ca;
      text-decoration: none;
      font-weight: 600;
  }
  

.container-2    {
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-wrap:wrap;
    flex-direction:row;
    border:1px solid rgb(163, 163, 163);
    padding:1rem;
    margin-top:1rem;
    background-color:#6d6875;
   // background-image: url("../img/SchoolBuilding.jpeg");
    background-repeat:no-repeat;
}


.container-2 h2{
    font-size:2rem;
    font:bold;
    margin-bottom:1rem;
}


.container-2 p{
    font-size:1.0rem;
    margin-bottom:2rem;
}

.container-2 .box1{
  border-top:1px solid rgb(163, 163, 163);
  margin:1.5rem;
  flex:1;
  padding:1rem;
}

.container-2 .box1 h2{
    color:white;
    font:bold;
}

.container-2 .box1 p{
    color:#e2ddeb;
}

.container-2 .box1:hover{
  background-color:white;
}
  
  .container-2 .box1:hover h2{
  color:#6d6875;
}

  .container-2 .box1:hover p{
  color:black;
}
  .container-2 .box2:hover p{
  color:black;
}
  .container-2 .box3:hover p{
  color:black;
}

.container-2 .box2{
  border-top:1px solid rgb(163, 163, 163);
    margin:1.5rem;
    flex:1;
    margin-bottom:4rem;
    padding:1rem;
}
.container-2 .box2 h2{
    color:white;
    font:bold;
}

.container-2 .box2 p{
    color:#e2ddeb;
}

.container-2 .box2:hover{
  background-color:white;
}
  
  .container-2 .box2:hover h2{
  color:#6d6875;
}

.container-2 .box3 h2{
    color:white;
    font:bold;
}

.container-2 .box3 p{
    color:#e2ddeb;
}

.container-2 .box3:hover{
  background-color:white;
}
  
  .container-2 .box3:hover h2{
  color:#6d6875;
}


.container-2 .box3{
  border-top:1px solid rgb(163, 163, 163);
    margin:1.5rem;
    flex:1;
    padding:1rem;
    margin-bottom:4rem;
    //background-color:#6d6875;
}


.container-3    {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    height:40vh;
    border:1px solid rgb(163, 163, 163);
    margin:1rem;
    padding:2rem;

}


.container-3 .box1{
  border:1px solid rgb(163, 163, 163);
}

.container-3 .box2{
  border:1px solid rgb(163, 163, 163);
}

.container-3 .box3{
  border:1px solid rgb(163, 163, 163);
}


.footer-container{
      background-color:#6d6875;
      padding:2rem;
      height:25vh;
      color:white;
      display:flex;
      justify-content:center;
      flex-wrap:wrap;
}

.footer-container div{
    margin:1rem;
}

.footer-container h4{
    font-size:1.25rem;
    margin-bottom:0.25rem;
}

.footer-container a{
    font-size:0.75rem;
    color:white;
    text-decoration:none;
}

.footer-container a.active, a:hover {
  color: #e5989b;
  transition: 0.5s;
}

#footer-email   {
    width:15rem;
    height:2.5rem;
    border-radius:4px;
    outline:none;
    border:none;
    padding-left:0.5rem;
    font-size:0.9rem;
    margin-right:1.5rem;
}

#footer-email-btn   {
    width:6rem;
    height:2.5rem;
    border-radius:0.75rem;
    background-color:#e5989b;
    outline:none;
    color:#fff;
    font-size:1rem;
}

#footer-email-btn:hover{
    cursor:pointer;
    background-color:rgb(248, 248, 248);
    color:#6d6875;
    transition:all 0.4s ease-out;
}



 @media(max-width:1024px)    {
.footer-container{

      height:35vh;
     
}
}

@media(max-width:620px)    {
.footer-container{

      height:50vh;
     
}

}



/* put the nav links in the center when the links break into a new line */
@media(max-width:1024px) {
  nav {
    justify-content: center;
    height:10rem;
  }
}